@using Nozomi.Base.Auth.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
<!DOCTYPE html>
<html>
<head>
    <environment include="Production">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140321568-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-140321568-1');
        </script>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6040461720913175",
                enable_page_level_ads: true
            });
        </script>
    </environment>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@CoreConstants.Name - @ViewData["Title"]</title>
    <meta name="description" content="Nozomi is a High speed informatics app that stores 
ticker data from any market, anywhere.">

    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <partial name="_WebpackScripts"/>

    @* <environment include="Development"> *@
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> *@
    @*     <link rel="stylesheet" href="~/css/site.css" /> *@
    @* </environment> *@
    @* <environment exclude="Development"> *@
    @*     <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" *@
    @*           asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
    @*           asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> *@
    @*     <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
    @* </environment> *@
</head>
<body>
@* <div class="alert bg-primary text-white text-center font-size-1 rounded-0 mb-0" role="alert"> *@
@*     Find what looks <span class="fa fa-heart"></span> lovely on you with Front shop. <a class="font-weight-semi-bold link-white" href="#">Learn More</a> *@
@* </div> *@

<!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--bg-transparent u-header--abs-top u-header--white-nav-links-md u-header--show-hide"
          data-header-fix-moment="500"
          data-header-fix-effect="slide">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- White Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default 
u-header__navbar-brand-text-white" 
             asp-controller="Home" asp-action="Index" aria-label="@CoreConstants.Name">
              <span class="u-header__navbar-brand-text">@CoreConstants.Name</span>
          </a>
          <!-- End White Logo -->

          <!-- Default Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed" 
             asp-controller="Home" asp-action="Index" aria-label="@CoreConstants.Name">
            
            <span class="u-header__navbar-brand-text">@CoreConstants.Name</span>
          </a>
          <!-- End Default Logo -->

          <!-- On Scroll Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-on-scroll" 
             asp-controller="Home" asp-action="Index" aria-label="@CoreConstants.Name">
            
            <span class="u-header__navbar-brand-text">@CoreConstants.Name</span>
          </a>
          <!-- End On Scroll Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <div class="js-scrollbar u-header__navbar-body u-header--abs-top__inner">
              <ul class="navbar-nav u-header__navbar-nav">
                <!-- Button -->
                <partial name="_LoginPartial"/>
                <!-- End Button -->
              </ul>
            </div>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
<!-- ========== END HEADER ========== -->

<partial name="_CookieConsentPartial"/>
<main id="content" role="main">
    @RenderBody()
</main>
<hr class="my-1"/>

<footer class="container">
    <div class="row space-2">
        <div class="col-6 col-lg-3 mb-7 mb-lg-0">
            <!-- Logo -->
            <a class="d-inline-flex align-items-center mb-3" asp-controller="Home" asp-action="Index">
                <span class="brand brand-primary">Nozomi</span>
            </a>
            <!-- End Logo -->

            <!-- Copyright -->
            <p class="small text-muted">&copy; 2017-@DateTime.UtcNow.Year.ToString() Nozomi One Pte. Ltd. All rights reserved.</p>
            <!-- End Copyright -->
            <p class="small text-primary">Nozomi Alpha Build @CoreConstants.BuildDateTime</p>
        </div>

        <div class="col-6 col-lg-3 mb-7 mb-lg-0">
            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
                <li>
                    <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action" asp-controller="Home"
                       asp-action="Docs">
                        Documentation
                    </a>
                </li>
                @* <li> *@
                @*     <a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers</a> *@
                @* </li> *@
                @* <li> *@
                @*     <a class="list-group-item list-group-item-action" href="../blog/grid-right-sidebar.html">Blog</a> *@
                @* </li> *@
            </ul>
            <!-- End List Group -->
        </div>

        <div class="col-6 col-lg-3 mb-7 mb-lg-0">
            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
                @* <li> *@
                @*     <a class="list-group-item list-group-item-action" href="../pages/help.html">Help</a> *@
                @* </li> *@
                <li>
                    <a class="list-group-item list-group-item-action" href="../pages/terms.html">Terms</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action" asp-controller="Home"
                       asp-action="Privacy">
                        Privacy
                    </a>
                </li>
            </ul>
            <!-- End List Group -->
        </div>

        <div class="col-6 col-lg-3 mb-7 mb-lg-0">
            <h4 class="font-size-1 font-weight-normal text-secondary">Connect</h4>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
                <li class="list-inline-item mb-3">
                    <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="#">
                        <span class="fa fa-facebook-f btn-icon__inner"></span>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="#">
                        <span class="fa fa-google btn-icon__inner"></span>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="#">
                        <span class="fa fa-twitter btn-icon__inner"></span>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://github.com/detabox">
                        <span class="fa fa-github btn-icon__inner"></span>
                    </a>
                </li>
            </ul>
            <!-- End Social Networks -->
        </div>
    </div>
</footer>

<script src="~/assets/js/components/custombox.legacy.min.js"></script>
<script src="~/assets/js/components/custombox.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>