@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Nozomi.Preprocessing
@model Nozomi.Base.Identity.ViewModels.Manage.CurrencyPair.CurrencyPairViewModel

@{
    int currencyPairType = (int) Model.CurrencyPair.CurrencyPairType;  
}

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Currency Pair</h3>

        <b-form v-on:submit.stop.prevent="onCPEditSubmit">
            <b-form-group label="Main Currency">
                <b-form-select v-model="editCPForm.mainCurrencyAbbrv">
                    <option v-for="currency in currencies"
                            :key="currency.name"
                            :value="currency.abbreviation">
                        {{ currency.name }}
                    </option>
                </b-form-select>
            </b-form-group>

            <b-form-group label="Counter Currency">
                <b-form-select v-model="editCPForm.counterCurrencyAbbrv">
                    <option v-for="currency in currencies"
                            :key="currency.name"
                            :value="currency.abbreviation">
                        {{ currency.name }}
                    </option>
                </b-form-select>
            </b-form-group>

            <b-form-group label="Currency Pair Type">
                <b-form-select v-model="editCPForm.currencyPairType">
                    <option v-for="currencyPairType in currencyPairTypes"
                            :key="currencyPairType.key"
                            :value="currencyPairType.value">
                        {{ currencyPairType.key}}
                    </option>
                </b-form-select>
            </b-form-group>

            <b-form-group label="Source">
                <b-form-select v-model="editCPForm.sourceId">
                    <option v-for="source in sources"
                            :key="source.name"
                            :value="source.id">
                        {{ source.name }}
                    </option>
                </b-form-select>
            </b-form-group>

            <b-form-group label="API Url">
                <b-form-input
                    v-model="editCPForm.apiUrl"
                    required
                    type="url"
                    placeholder="Enter Api Url ">
                </b-form-input>
            </b-form-group>

            <b-form-group label="Default Component">
                <b-form-input
                    v-model="editCPForm.defaultComponent"
                    required
                    placeholder="Enter Default Component ">
                </b-form-input>
            </b-form-group>

            <b-form-group>
                <b-form-checkbox v-model="editCPForm.isEnabled">Is Enabled</b-form-checkbox>
            </b-form-group>
            <b-button variant="primary" class="mb-3" type="submit">Save Changes</b-button>
        </b-form>

        <hr/>

        <h3 class="mb-6">Analysed Component</h3>
        @* Table for analysedComponent *@
        <b-table :items="currencyPair.analysedComponents" :fields="analysedComponentsDataFields">
            <template slot="AnalysedComponentType" slot-scope="datum">
                {{ getAnalysedComponentTypeStr(datum.item.componentType) }}
            </template>
            <template slot="Delay" slot-scope="datum">
                {{ datum.item.delay }}
            </template>
            <template slot="IsDenominated" slot-scope="datum">
                {{ datum.item.isDenominated }}
            </template>
            <template slot="AnalysedComponentValue" slot-scope="datum">
                {{ datum.item.value }}
            </template>
        </b-table>
    </div>
</div>

@section Scripts
{
    <script>
        const vm = new Vue({
            el: '#content',
            data: {
                analysedComponentsDataFields: [
                    {
                        key: 'AnalysedComponentType',
                        label: 'Component Type',
                        sortable: true,
                    },
                    {
                        key: 'Delay',
                        label: 'Delay',
                        sortable: true,
                    },
                    {
                        key: 'IsDenominated',
                        label: 'Denominated',
                        sortable: true,
                    },
                    {
                        key: 'AnalysedComponentValue',
                        label: 'Value',
                        sortable: true,
                    }
                ],
                analysedComponentTypes:
                    @Html.Raw(JsonConvert.SerializeObject(NozomiServiceConstants.analysedComponentTypes,Formatting.Indented, new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    })),
                currencyPair:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.CurrencyPair, Formatting.Indented, new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver(),
                        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                    })),
                currencies:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.Currencies, Formatting.Indented, new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    })),
                sources:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.Sources, Formatting.Indented, new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    })),
                currencyPairTypes:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.CurrencyPairTypes, Formatting.Indented, new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    })),
                editCPForm: {
                    id: @Model.CurrencyPair.Id,
                    mainCurrencyAbbrv: '@Model.CurrencyPair.MainCurrencyAbbrv',
                    counterCurrencyAbbrv: '@Model.CurrencyPair.CounterCurrencyAbbrv',
                    currencyPairType: @currencyPairType,
                    apiUrl: '@Model.CurrencyPair.APIUrl',
                    defaultComponent: '@Model.CurrencyPair.DefaultComponent',
                    sourceId: @Model.CurrencyPair.SourceId,
                    isEnabled: @Model.CurrencyPair.IsEnabled.ToString().ToLower(),
                },
                addAcForm: {
                    componentType: 0,
                    isDenominated: false,
                            
                }
            },
            methods: {
                onCPEditSubmit() {
                    axios({
                        method: 'PUT',
                        url: `/Admin/CurrencyPair/Update/${this.editCPForm.id}`,
                        data: this.editCPForm
                    }).then(response => {
                        alert(response.data.message);
                    }).catch(error => {
                        alert('Failed to edit CurrencyPair');
                    });
                },
                getAnalysedComponentTypeStr(val) {
                    if (this.analysedComponentTypes != null) {
                        for (let i = 0; i < this.analysedComponentTypes.length; i++) {
                            if (this.analysedComponentTypes[i].value === val) {
                                return this.analysedComponentTypes[i].key;
                            }
                        }
                    }
                    return null;
                },
                onAcAddSubmit() {
                    // Send a POST request
                    axios({
                      method: 'post',
                      responseType: 'application/json',
                      url: '/Admin/AnalysedComponent/Create',
                      data: this.addAcForm
                    })
                    .then(function (response) {
                        // Put alert for now, change the ui later.
                        alert(response.data.message);
                    })
                    .catch(function (error) {
                        alert("Create failed");
                    });
                    
                    // Hide the modal manually
                    this.$refs['property-add-modal'].hide();
                }
            }
        })
    </script>
}