@model Nozomi.Base.Auth.ViewModels.Account.ResetPasswordInputModel

<div class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-5 is-offset-4">
                <div class="card">
                    <div class="card-content">
                        <img src="~/logo.png" width="128" class="is-bottom-spaced is-1"/>
                        <p class="title">Password Reset</p>
                        <p class="subtitle">Last step to continue using Nozomi services</p>

                        <form asp-controller="Account" asp-action="ResetPassword" method="post">
                            <input type="hidden" asp-for="@Model.Code"/>
                            <input type="hidden" asp-for="@Model.ReturnUrl"/>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="email" class="input" placeholder="Email" asp-for="@Model.Email"/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="@Model.Email" class="help is-danger"></span>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="password" class="input" placeholder="Password" asp-for="@Model.Password" autofocus/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="@Model.Password" class="help is-danger has-text-left"></span>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="password" class="input" placeholder="Confirm Password" asp-for="@Model.ConfirmPassword"/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="@Model.ConfirmPassword" class="help is-danger has-text-left"></span>
                            </div>
                            
                            <button type="submit" class="button is-info is-medium is-fullwidth is-bottom-spaced is-1">
                                Reset
                            </button>
                        </form>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span class="has-text-grey">
                                Did you remember your password?
                                <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Try logging in</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>