@using Nozomi.Base.Core.Helpers.Enumerator
@using Nozomi.Service.Events.Interfaces
@model Nozomi.Base.Identity.ViewModels.Manage.Tickers.CreateTickerViewModel
@inject ISourceEvent SourceEvent

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <form method="post">
            <div class="form-group">
                <label asp-for="CurrencyPairType"></label>
                <select class="form-control" asp-for="CurrencyPairType">
                    @foreach (var cpt in Model.CurrencyPairTypes)
                    {
                        <option value="@cpt">@cpt.GetDescription()</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="RequestType"></label>
                <select class="form-control" asp-for="RequestType">
                    @foreach (var rt in Model.RequestTypes)
                    {
                        <option value="@rt">@rt.GetDescription()</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="ResponseType"></label>
                <select class="form-control" asp-for="ResponseType">
                    @foreach (var rt in Model.ResponseTypes)
                    {
                        <option value="@rt">@rt.GetDescription()</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="DataPath"></label>
                <input class="form-control" type="url" asp-for="DataPath"/>
            </div>
            
            <div class="form-group">
                <label asp-for="Delay"></label>
                <input type="number" asp-for="Delay" value="@Model.Delay"/>
            </div>
            
            <div class="form-group">
                <label asp-for="CurrencySourceId"></label>
                <select class="form-control" asp-for="CurrencySourceId">
                    @{
                        var sources = SourceEvent.GetAllActive();
                        
                        foreach (var src in sources)
                        {
                            <option value="@src.Id">@src.Name</option>
                        }
                    }
                </select>
            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="js-focus-state input-group mb-2">
                        <label asp-for="MainCurrencyAbbrv"></label>
                        <input type="text" class="form-control" asp-for="MainCurrencyAbbrv">
                    </div>

                    <div class="js-focus-state input-group mb-2">
                        <label asp-for="MainCurrencyName"></label>
                        <input type="text" class="form-control" asp-for="MainCurrencyName">
                    </div>
                </div>

                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="js-focus-state input-group mb-2">
                        <label asp-for="CounterCurrencyAbbrv"></label>
                        <input type="text" class="form-control" asp-for="MainCurrencyAbbrv">
                    </div>

                    <div class="js-focus-state input-group mb-2">
                        <label asp-for="CounterCurrencyName"></label>
                        <input type="text" class="form-control" asp-for="MainCurrencyName">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="QueryComponents"></label>
                <textarea asp-for="QueryComponents"></textarea>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            
        });
        
        function updateCurrencies() {
            
        }
    </script>
}