@using Nozomi.Service.Events.Interfaces
@model Nozomi.Data.AreaModels.v1.Currency.CreateCurrency
@inject ICurrencyTypeEvent _currencyTypeEvent
@inject ISourceEvent _sourceEvent

@{
    var currencyTypes = _currencyTypeEvent.GetAllActive();
    var sources = _sourceEvent.GetAllActive();
}

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Create a new currency</h3>
        <form method="post">
            
            <div class="row">
                <div class="col-md-9 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name"/>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="Abbrv"></label>
                        <input class="form-control" type="text" asp-for="Abbrv"/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="CurrencyTypeId"></label>
                        <select class="js-select selectpicker dropdown-select form-control"
                                data-style="btn-sm btn-primary" asp-for="CurrencyTypeId">
                            @foreach (var ct in currencyTypes)
                            {
                                <option value="@ct.Id">@ct.Name (@ct.TypeShortForm)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="CurrencySourceId"></label>
                        <select class="js-select selectpicker dropdown-select form-control"
                                data-style="btn-sm btn-primary" asp-for="CurrencySourceId">
                            @foreach (var source in sources)
                            {
                                <option value="@source.Id">@source.Name (@source.Abbreviation)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const vm = new Vue({
            // options
            el: "#content",
            data: {
            },
            created: function() {
            },
            methods: {
            },
            mounted: function() {
            }
        });
    </script>
}