@model Nozomi.Base.Identity.Models.Areas.Manage.PaymentMethods.PaymentMethodsViewModel
@using System.Globalization
@using Microsoft.Extensions.Options
@using Nozomi.Base.Core.Configurations
@using Nozomi.Service.Identity.Events.Interfaces
@using Nozomi.Service.Identity.Managers
@inject IOptions<StripeSettings> stripeOptions

@{
    var stripePubKey = stripeOptions.Value.PublishableKey;
}

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <!-- Title -->
        <div class="mb-3">
            <h2 class="h5 mb-0">Your credit and debit cards</h2>
        </div>
        <!-- End Title -->

        @{
            if (Model.Cards != null && Model.Cards.Count > 0)
            {
                <!-- Accordion -->
                <div id="paymentDetails" class="accordion mb-9">
                    @{
                        foreach (var card in Model.Cards)
                        {
                            <!-- Card -->
                            <div class="card">
                                <div class="card-header card-collapse">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                                                data-toggle="collapse"
                                                data-target=@string.Concat("#" + card.Id)
                                                aria-expanded="false"
                                                aria-controls=@card.Id>
                                            <span class="row align-items-center">
                                                <span class="col-md-6 mb-2 mb-md-0">
                                                    <span class="media align-items-center">
                                                        <img class="max-width-9 mr-3" src=@string.Concat("../../assets/img/100x60/" + card.Brand + ".jpg") alt="Image Description">
                                                        <span class="media-body">
                                                            <span class="font-size-1">
                                                                @card.Brand Card ending in
                                                                @{
                                                                    if (string.IsNullOrEmpty(card.DynamicLast4))
                                                                    {
                                                                        @card.Last4
                                                                    }
                                                                    else
                                                                    {
                                                                        @card.DynamicLast4
                                                                    }
                                                                }
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="col-4 col-md-2 text-md-right">
                                                    @{
                                                        if (card.Id.Equals(Model.Customer.DefaultSourceId))
                                                        {
                                                            <span class="btn btn-xs btn-soft-warning btn-pill">Primary</span>
                                                        }
                                                        else
                                                        {
                                                            <a asp-controller="Manage" asp-action="SetNewDefaultCard"
                                                               asp-route-cardId="@card.Id"
                                                               class="btn btn-xs btn-soft-secondary btn-pill">Set as default</a>
                                                        }
                                                    }
                                                </span>
                                                <span class="col-6 col-md-3">
                                                    @{
                                                        var cardExp = card.ExpMonth + "-" + card.ExpYear;
                                                        if (cardExp.Length < 7)
                                                        {
                                                            cardExp = "0" + cardExp;
                                                        }
                                                        
                                                        var expDate = DateTime
                                                            .ParseExact(cardExp, "mm-yyyy", CultureInfo.InvariantCulture);
                                                        
                                                        if (DateTime.Now >= expDate) 
                                                        {
                                                            <span class="text-danger d-block font-size-1">
                                                                Expires: @card.ExpMonth/@card.ExpYear
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="d-block font-size-1">Expires: @card.ExpMonth/@card.ExpYear</span>
                                                        }
                                                    }
                                                </span>
                                                <span class="col-2 col-md-1 text-right">
                                                    <span class="card-btn-arrow">
                                                        <span class="fas fa-arrow-down small"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id=@card.Id class="collapse" aria-labelledby=@string.Concat("cardHeading" + card.Id)
                                     data-parent="#paymentDetails">
                                    <div class="card-body px-4">
                                        <!-- Card Details -->
                                        <div class="row">
                                            <div class="col-sm-7 mb-2 mb-sm-0">
                                                <h4 class="h6 mb-1">@card.Name</h4>
                                                @{
                                                    if (!string.IsNullOrEmpty(card.Issuer))
                                                    {
                                                        <span class="d-block font-size-1 mb-1">@card.Issuer</span>
                                                    }
                                                }
                                                @* <p class="small"> *@
                                                @*   <span class="fas fa-info-circle mr-1"></span> *@
                                                @*   Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a> *@
                                                @* </p> *@
                                            </div>
                                            <div class="col-sm-5 mb-2 mb-sm-0">
                                                @{
                                                    if (!string.IsNullOrEmpty(card.AddressLine1) && !string.IsNullOrEmpty(card.AddressZip))
                                                    {
                                                        <h5 class="h6 mb-0">Billing address</h5>
                                                        <address class="font-size-1">
                                                            @card.AddressLine1<br>
                                                            @card.AddressLine2<br>
                                                            @card.AddressCity,
                                                            @{
                                                                if (!string.IsNullOrEmpty(card.AddressState))
                                                                {
                                                                    @string.Concat(card.AddressState + ", ")
                                                                }
                                                            }
                                                            @card.AddressZip<br>
                                                            @card.AddressCountry
                                                        </address>
                                                    }
                                                }
                                                <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
                                                <button type="button" class="btn btn-xs btn-primary">Edit</button>
                                            </div>
                                        </div>
                                        <!-- End Card Details -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        }
                    }
                </div>
                <!-- End Accordion -->
            }
            else
            {
                <div class="text-center py-10">
                    <div class="w-md-80 w-lg-50 text-center mx-md-auto">
                        <figure id="SVGimageUpload" class="svg-preloader mb-7 ie-image-upload">
                            <img class="js-svg-injector w-50" src="../../assets/svg/illustrations/image-upload.svg"
                                 alt="Image Description" data-parent="#SVGimageUpload">
                        </figure>
                        <h4 class="h5 font-weight-normal">No cards to see here. Why not try adding one?</h4>
                    </div>
                </div>
            }
        }

        <h3 class="h5 mb-0 mt-4">Add a new payment method</h3>

        <hr class="mt-2 mb-4">

        <!-- Add Payment -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="h6 mb-0">Credit or Debit Cards</h4>
                <p class="mb-2">Nozomi accepts all major credit and debit cards.</p>
                <a href="#addPaymentModal"
                   data-modal-target="#addPaymentModal">
                    Add a Card
                </a>
            </div>
            <div class="col-md-6 text-md-right">
                <span class="d-inline-block bg-white border rounded p-1">
                    <img class="max-width-9" src="../../assets/img/100x60/img1.jpg" alt="Image Description">
                </span>
                <span class="d-inline-block bg-white border rounded p-1">
                    <img class="max-width-9" src="../../assets/img/100x60/img2.jpg" alt="Image Description">
                </span>
                <span class="d-inline-block bg-white border rounded p-1">
                    <img class="max-width-9" src="../../assets/img/100x60/img3.jpg" alt="Image Description">
                </span>
            </div>
        </div>
        <!-- End Add Payment -->

        @* <hr class="my-4"> *@
        @* *@
        @* <!-- Add Payment --> *@
        @* <div class="row align-items-center"> *@
        @*   <div class="col-md-6"> *@
        @*     <h4 class="h6 mb-0">Online Payment services</h4> *@
        @*     <p class="mb-2">Use online payment services like, PayPal, Stripe and etc.</p> *@
        @*     <a href="#">One-click signin</a> *@
        @*   </div> *@
        @*   <div class="col-md-6 text-md-right"> *@
        @*     <!-- Radio Checkbox Group --> *@
        @*     <div class="custom-control custom-radio custom-control-inline checkbox-outline bg-white"> *@
        @*       <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input checkbox-outline__input"> *@
        @*       <label class="checkbox-outline__label rounded p-1 mb-0" for="customRadioInline1"> *@
        @*         <img class="max-width-9" src="../../assets/img/100x60/img5.jpg" alt="Image Description"> *@
        @*       </label> *@
        @*     </div> *@
        @*     <div class="custom-control custom-radio custom-control-inline checkbox-outline bg-white"> *@
        @*       <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input checkbox-outline__input"> *@
        @*       <label class="checkbox-outline__label rounded p-1 mb-0" for="customRadioInline3"> *@
        @*         <img class="max-width-9" src="../../assets/img/100x60/img6.jpg" alt="Image Description"> *@
        @*       </label> *@
        @*     </div> *@
        @*     <!-- End Radio Checkbox Group --> *@
        @*   </div> *@
        @* </div> *@
        @* <!-- End Add Payment --> *@
    </div>
</div>
<!-- End Content Section -->

<!-- Account Modal Window -->
<div id="addPaymentModal" class="js-modal-window u-modal-window" style="width: 640px;">
    <div class="card border-0">
        <!-- Header -->
        <header class="card-header bg-light py-3 px-5">
            <div class="row justify-content-between align-items-center no-gutters">
                <div class="col-6">
                    <h4 class="h6 mb-0">Add a new card</h4>
                </div>

                <div class="col-6 text-right">
                    <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <form method="post" asp-controller="Manage" asp-action="PostNewCard" id="addCardForm" class="js-validate">
            <div class="card-body p-5">
                <input id="cardTokenInput" asp-for="CardToken" class="d-none" type="text"/>

                <!-- Input Group -->
                <div class="form-row align-items-center mb-3">
                    <div class="col-4 text-right">
                        <label asp-for="CardholderName" class="h6 small d-block text-uppercase mb-0">
                            <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="left"
                                  title="Make sure the name entered is on the credit/debit card.">
                            </span>
                            Cardholder name
                        </label>
                    </div>
                    <div class="col-8">
                        <div class="js-form-message">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" name="cardholderName" required placeholder="Cardholder name"
                                       aria-label="Cardholder name" aria-describedby="cardholderNameLabel"
                                       data-msg="Please enter a valid cardholder name."
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Input Group -->

                <!-- Input Group -->
                <div class="form-row align-items-center mb-3">
                    <div class="col-4 text-right">
                        <label id="cardNumberLabel" class="h6 small d-block text-uppercase mb-0">
                            Card number
                        </label>
                    </div>
                    <div class="col-8">
                        <div id="card-element"
                             data-msg="Please enter only valid credit/debit card information."
                             data-error-class="u-has-error"
                             data-success-class="u-has-success">
                        </div>
                        @* <div class="js-form-message"> *@
                        @*   <div class="input-group input-group-sm"> *@
                        @*     <input class="form-control" type="number" name="cardNumber" required placeholder="Card number" aria-label="Card number" aria-describedby="cardNumberLabel" *@
                        @*            data-msg="Please enter a valid card number." *@
                        @*            data-error-class="u-has-error" *@
                        @*            data-success-class="u-has-success"> *@
                        @*   </div> *@
                        @* </div> *@
                    </div>
                </div>
                <!-- End Input Group -->
            </div>

            <!-- Buttons -->
            <div class="card-footer py-3 px-5">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Create Payment</button>
                    <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover"
                            onclick="Custombox.modal.close();">
                        Cancel
                    </button>
                </div>
            </div>
            <!-- End Buttons -->
        </form>
    </div>
</div>
<!-- End Account Modal Window -->

@section Scripts
{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Setup stripe
        const stripe = Stripe('@stripePubKey');
        // Setup Stripe's elements.
        const elements = stripe.elements();
        // Setup the Stripe card element
        const card = elements.create('card');
        const cardEl = document.getElementById("card-element");
        const addCardForm = document.getElementById("addCardForm");

        // Error checking
//    card.addEventListener('change',
//      ({ error }) => {
//        const displayError = document.getElementById('card-element');
//        if (error) {
//          displayError.addClass('u-has-success u-has-error');
//          displayError.addClass('u-has-error');
//        } else {
//          displayError.addClass('u-has-success u-has-error');
//          displayError.addClass('u-has-success');
//        }
//      });

        card.mount(cardEl);

        addCardForm.addEventListener('submit',
            (event) => {
                event.preventDefault();

                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        // Inform the customer that there was an error.
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server.
                        stripeTokenHandler(result.token);
                    }
                });
            });

        const stripeTokenHandler = (token) => {
            // Insert the token ID into the form so it gets submitted to the server
            const $cardTokenEl = document.getElementById('cardTokenInput');
            $cardTokenEl.setAttribute('value', token.id);

            addCardForm.submit();
        }
    </script>
}