@using Newtonsoft.Json
@model Nozomi.Base.Identity.ViewModels.Manage.Currency.CurrenciesViewModel

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Currencies</h3>

        <b-button variant="primary" class="mb-3" v-on:click="showCreateModal">Create</b-button>

        <b-table
            :per-page="currencyDataRowsPerPage" :current-page="currentCurrencyDataPage"
            :items="currencies" :fields="dataFields">
            <template slot="Name" slot-scope="datum">
                {{ datum.item.Name }}
            </template>
            <template slot="Abbreviation" slot-scope="datum">
                {{ datum.item.Abbrv }}
            </template>
            <template slot="CurrencyType" slot-scope="datum">
                {{ datum.item.CurrencyType.Name }}
            </template>
            <template slot="CurrencySource" slot-scope="datum">
                {{ datum.item.CurrencySource.Name }}
            </template>
            <template slot="Description" slot-scope="datum">
                {{ datum.item.Description }}
            </template>
            <template slot="isEnabled" slot-scope="datum">
                <b-form-checkbox v-model="datum.item.IsEnabled" disabled/>
            </template>
            <template slot="Edit" slot-scope="datum">
                <b-button variant="primary" b-modal.modal-xl
                          v-on:click="showEditModal(datum.item.Id, datum.item.CurrencyTypeId, datum.item.Abbrv, 
                                datum.item.Description, datum.item.Name, datum.item.CurrencySourceId, 
                                datum.item.IsEnabled, datum.item.CurrencyType, datum.item.CurrencySource)">
                    Edit
                </b-button>
            </template>
            <template slot="Delete" slot-scope="datum">
                <b-button variant="danger" v-on:click="showDeleteModal(datum.item.Id, datum.item.Name)">Delete</b-button>
            </template>
        </b-table>
    </div>
</div>

<!-- CreateModal -->
<b-modal ref="create-modal" size="xl" title="Create Currency" ok-title="Create" v-on:ok="handleCreateOk">
    <b-form v-on:submit.stop.prevent="onCreateSubmit">
        <b-form-group
            label="Name"
            label-for="currencyName-input">
            <b-form-input
                v-model="createForm.currencyName"
                required
                placeholder="Enter currency name">
            </b-form-input>
        </b-form-group>

        <b-form-group
            label="Abbreviation"
            label-for="abbreviation-input">
            <b-form-input
                v-model="createForm.abbreviation"
                required
                placeholder="Enter source abbreviation">
            </b-form-input>
        </b-form-group>

        <b-form-group label="Currency Type" label-for="currencyType-input">
            <b-form-select v-model="createForm.currencyTypeId" :options="currencyTypes"></b-form-select>
        </b-form-group>

        <b-form-group label="Currency source">
            <b-form-select v-model="createForm.currencySourceId" :options="currencySources"></b-form-select>
        </b-form-group>

        <b-form-group label="Description">
            <b-form-textarea v-model="editForm.description" rows="3"></b-form-textarea>
        </b-form-group>

        <b-form-group>
            <b-form-checkbox v-model="editForm.isEnabled">Is Enabled</b-form-checkbox>
        </b-form-group>
    </b-form>
</b-modal>

<!-- EditModal -->
<b-modal ref="edit-modal" size="xl" title="Edit Currency" ok-title="Save changes" v-on:ok="handleEditOk">
    <b-form v-on:submit.stop.prevent="onEditSubmit">
        <b-form-group
            id="currencyName-input-group"
            label="Name"
            label-for="currencyName-input">
            <b-form-input
                id="currencyName-input"
                v-model="editForm.currencyName"
                required
                placeholder="Enter currency name">
            </b-form-input>
        </b-form-group>

        <b-form-group
            id="abbreviation-input-group"
            label="Abbreviation"
            label-for="abbreviation-input">
            <b-form-input
                id="abbreviation-input"
                v-model="editForm.abbreviation"
                required
                placeholder="Enter source abbreviation">
            </b-form-input>
        </b-form-group>

        <b-form-group id="currencyType-input-group" label="Currency Type" label-for="currencyType-input">
            <b-form-select v-model="editForm.currencyTypeId" :options="currencyTypes"></b-form-select>
        </b-form-group>

        <b-form-group id="currencySource-input-group" label="Currency source">
            <b-form-select v-model="editForm.currencySourceId" :options="currencySources"></b-form-select>
        </b-form-group>

        <b-form-group id="description-input-group" label="Description">
            <b-form-textarea v-model="editForm.description" rows="3"></b-form-textarea>
        </b-form-group>

        <b-form-group id="isEnabled-input-group">
            <b-form-checkbox v-model="editForm.isEnabled">Is Enabled</b-form-checkbox>
        </b-form-group>
    </b-form>
</b-modal>

<!-- DeleteModal -->
<b-modal ref="delete-modal" title="Confirm Delete" ok-title="Yes" ok-variant="danger" cancel-title="No" v-on:ok="handleDeleteOk" centered>
    <p>Are you sure that you want to delete {{ deleteModal.name }}?</p>
</b-modal>

@section Scripts {
    <script>
        const vm = new Vue({
            // options
            el: "#content",
            // Just dish any random variable in for now
            data: {
                dataFields: [
                    {
                        key: 'Name',
                        label: 'Name',
                        sortable: true
                    }, {
                        key: 'Abbreviation',
                        label: 'Abbreviation',
                        sortable: true
                    }, {
                        key: 'CurrencyType',
                        label: 'Currency Type',
                        sortable: true
                    }, {
                        key: 'CurrencySource',
                        label: 'Source',
                        sortable: true
                    }, {
                        key: 'Description',
                        label: 'Description',
                        sortable: true
                    },
                    {
                        key: 'isEnabled',
                        label: 'Is Enabled',
                        sortable: true
                    },
                    {
                        key: 'Edit',
                        label: '',
                        sortable: false
                    }, {
                        key: 'Delete',
                        label: '',
                        sortable: false
                    }
                ],
                currencyDataRowsPerPage: 20,
                currentCurrencyDataPage: 1,
                // https://stackoverflow.com/questions/7397207/json-net-error-self-referencing-loop-detected-for-type
                currencies:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.Currencies, Formatting.Indented, new JsonSerializerSettings
                    {
                        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                    })),
                currencyTypes: @Html.Raw(JsonConvert.SerializeObject(@Model.CurrencyTypes)),
                currencySources:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.CurrencySources, Formatting.Indented, new JsonSerializerSettings
                    {
                        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                    })),
                createForm: {
                    currencyTypeId: Number,
                    abbreviation: '',
                    description: '',
                    currencyName: '',
                    currencySourceId: '',
                    isEnabled: Boolean,
                },
                editForm: {
                    id: Number,
                    currencyTypeId: Number,
                    abbreviation: '',
                    description: '',
                    currencyName: '',
                    currencySourceId: '',
                    isEnabled: Boolean,
                    currencyType: {},
                    currencySource: {}
                },
                deleteModal: {
                    id: Number,
                    name: ''
                }
            },
            mounted() {
                this.convertCurrencyTypesOption();
                this.convertCurrencySourcesOption();
            },
            methods: {
                convertCurrencyTypesOption() {
                    var currencyTypesArr = [];
                    for (var i = 0; i < this.currencyTypes.length; i++) {
                        var currencyType = {
                            value: this.currencyTypes[i].Id,
                            text: this.currencyTypes[i].Name
                        };
                        currencyTypesArr.push(currencyType);
                    }
                    this.currencyTypes = currencyTypesArr;
                },
                convertCurrencySourcesOption() {
                    var currencySourcesArr = [];
                    for (var i = 0; i < this.currencySources.length; i++) {
                        var currencySource = {
                            value: this.currencySources[i].Id,
                            text: this.currencySources[i].Name
                        };
                        currencySourcesArr.push(currencySource);
                    }
                    this.currencySources = currencySourcesArr;
                },
                showCreateModal() {
                    this.$refs['create-modal'].show();
                },
                handleCreateOk(bvModalEvt) {
                    // Prevent modal from closing
                    bvModalEvt.preventDefault();
                    // Trigger submit handler
                    this.onCreateSubmit();
                },
                async onCreateSubmit() {
                    var formData = new FormData();
                    formData.append('Id', this.createForm.id);
                    formData.append('CurrencyTypeId', this.createForm.currencyTypeId);
                    formData.append('Abbrv', this.createForm.abbreviation);
                    formData.append('Description', this.createForm.description);
                    formData.append('Name', this.createForm.currencyName);
                    formData.append('CurrencySourceId', this.createForm.currencySourceId);
                    formData.append('IsEnabled', this.createForm.isEnabled);

                    const response = await fetch('/Admin/Currency/CreateCurrency',
                        {
                            method: 'POST',
                            body: formData
                        });

                    if (response.status === 200) {
                        // Put alert for now, change the ui later.
                        alert("Successfully created source");

                    } else {
                        alert("Create failed");
                    }

                    // Hide the modal manually
                    this.$refs['create-modal'].hide();

                    // Reload for now. Controller to return the currency object then push into table.
                    location.reload(this);

                },
                // Methods for edit modal
                showEditModal(id, currencyTypeId, abbrv, description, name, currencySourceId, isEnabled, currencyType,
                currencySource) {
                    this.editForm.id = id;
                    this.editForm.currencyTypeId = currencyTypeId;
                    this.editForm.abbreviation = abbrv;
                    this.editForm.description = description;
                    this.editForm.currencyName = name;
                    this.editForm.currencySourceId = currencySourceId;
                    this.editForm.isEnabled = isEnabled;

                    this.editForm.CurrencyType = currencyType;
                    this.editForm.CurrencySource = currencySource;

                    this.$refs['edit-modal'].show();
                },
                handleEditOk(bvModalEvt) {
                    // Prevent modal from closing
                    bvModalEvt.preventDefault();
                    // Trigger submit handler
                    this.onEditSubmit();
                },
                async onEditSubmit() {
                    var formData = new FormData();
                    formData.append('CurrencyTypeId', this.editForm.currencyTypeId);
                    formData.append('Abbrv', this.editForm.abbreviation);
                    formData.append('Description', this.editForm.description);
                    formData.append('Name', this.editForm.currencyName);
                    formData.append('CurrencySourceId', this.editForm.currencySourceId);
                    formData.append('IsEnabled', this.editForm.isEnabled);

                    const response = await fetch(`/Admin/Currency/EditCurrency/${this.editForm.id}`,
                        {
                            method: 'PUT',
                            body: formData
                        });

                    if (response.status === 200) {
                        // Update the data table
                        this.currencies.find((element, index) => {
                            if (element.Id === this.editForm.id) {
                                this.currencies[index].Name = this.editForm.currencyName;
                                this.currencies[index].Abbrv = this.editForm.abbreviation;
                                this.currencies[index].CurrencyType = this.editForm.currencyType;
                                this.currencies[index].CurrencySource = this.editForm.currencySource;
                                this.currencies[index].Description = this.editForm.description;
                                this.currencies[index].IsEnabled = this.editForm.isEnabled;
                            }
                        });

                        // Put alert for now, change the ui later.
                        alert("Successfully updated source");
                    } else {
                        alert("Update failed");
                    }

                    // Hide the modal manually
                    this.$refs['edit-modal'].hide();
                },
                // Methods for delete modal
                showDeleteModal(id, currencyName) {
                    this.deleteModal.id = id;
                    this.deleteModal.name = currencyName;

                    this.$refs['delete-modal'].show();
                },
                async handleDeleteOk(bvModalEvt) {
                    bvModalEvt.preventDefault();

                    const response = await fetch(`/Admin/Currency/DeleteCurrency/${this.deleteModal.id}`,
                        {
                            method: 'DELETE'
                        });

                    if (response.status === 200) {
                        // Update the datatable
                        const index = this.currencies.findIndex(element => element.Id === this.deleteModal.id);
                        this.currencies.splice(index, 1);

                        alert(`Successfully deleted ${this.deleteModal.name}`);
                    } else {
                        alert("Delete failed");
                    }

                    this.$refs['delete-modal'].hide();
                }
            }
        });
    </script>
}