@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model Nozomi.Data.ViewModels.Admin.Currency.CurrencyViewModel

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">@Model.Currency.Name</h3>

        <b-form v-on:submit.prevent="onEditRequestSubmit">
            <div class="col-md-4 mb-3">
                <b-form-group label="Currency name">
                    <b-form-input
                        v-model="editCurrency.name"
                        placeholder="Enter currency name">
                    </b-form-input>
                </b-form-group>

                <b-form-group label="Currency Abbreviation">
                    <b-form-input
                        v-model="editCurrency.abbreviation"
                        placeholder="Enter currency abbreviation">
                    </b-form-input>
                </b-form-group>

                <b-form-group label="Description">
                    <b-form-textarea
                        v-model="editCurrency.description"
                        placeholder="Enter description (optional)">
                    </b-form-textarea>
                </b-form-group>

                <b-form-group label="Denomination Name">
                    <b-form-input
                        v-model="editCurrency.denominationName"
                        placeholder="Enter denomination name">
                    </b-form-input>
                </b-form-group>

                <b-form-group label="Denomination">
                    <b-form-input
                        v-model="editCurrency.denomination"
                        placeholder="Enter denomination">
                    </b-form-input>
                </b-form-group>

                <b-form-group id="isEnabled-input-group">
                    <b-form-checkbox v-model="editCurrency.isEnabled">Is Enabled</b-form-checkbox>
                </b-form-group>
            </div>

            <b-button variant="primary" class="mb-3" type="submit">Save Changes</b-button>
        </b-form>

        <hr/>

        <h3>Sources in @Model.Currency.Name</h3>
        <!-- Currency source table -->
        <b-button variant="primary" class="mb-3" v-on:click="showSourceAddModal">Add Source</b-button>

        <b-table
            :per-page="sourceDataRowsPerPage" :current-page="sourceCurrentPage"
            :items="currencySources" :fields="sourceDataFields">
            <template slot="Name" slot-scope="datum">
                {{ datum.item.source.name }}
            </template>
            <template slot="Abbreviation" slot-scope="datum">
                {{ datum.item.source.abbreviation }}
            </template>
            <template slot="APIDocsURL" slot-scope="datum">
                <a :href="datum.item.apiDocsURL">{{ datum.item.source.apiDocsURL }}</a>
            </template>
            <template slot="isEnabled" slot-scope="datum">
                <b-form-checkbox v-model="datum.item.source.isEnabled" disabled/>
            </template>
            <template slot="Edit" slot-scope="datum">
                <b-button variant="primary" b-modal.modal-xl
                          v-on:click="showSourceEditModal(datum.item.source.id, datum.item.source.name, datum.item.source.abbreviation, datum.item.source.apiDocsURL, datum.item.source.isEnabled)">
                    Edit
                </b-button>
            </template>
            <template slot="Delete" slot-scope="datum">
                <b-button variant="danger" v-on:click="showSourceDeleteModal(datum.item.source.id, datum.item.source.name)">Delete</b-button>
            </template>
        </b-table>
    </div>
</div>

<!-- EditModal -->
<b-modal ref="source-edit-modal" size="xl" title="Edit Source" ok-title="Save changes" v-on:ok="handleSourceEditOk">
    <b-form v-on:submit.stop.prevent="onSourceEditSubmit">
        <b-form-group
            id="sourceName-input-group"
            label="Name"
            label-for="sourceName-input">
            <b-form-input
                id="sourceName-input"
                v-model="editSourceForm.sourceName"
                required
                placeholder="Enter source name">
            </b-form-input>
        </b-form-group>

        <b-form-group
            id="abbreviation-input-group"
            label="Abbreviation"
            label-for="abbreviation-input">
            <b-form-input
                id="abbreviation-input"
                v-model="editSourceForm.abbreviation"
                required
                placeholder="Enter source abbreviation">
            </b-form-input>
        </b-form-group>

        <b-form-group id="apiDocsURL-input-group" label="API Docs URL:" label-for="apiDocsURL-input">
            <b-form-input
                id="apiDocsURL-input"
                v-model="editSourceForm.apiDocsURL"
                required
                placeholder="Enter source API documentation URL">
            </b-form-input>
        </b-form-group>

        <b-form-group>
            <b-form-checkbox v-model="editSourceForm.isEnabled" switch>Is Enabled</b-form-checkbox>
        </b-form-group>
    </b-form>
</b-modal>

<!-- Source AddModal -->
<b-modal ref="source-add-modal" size="xl" title="Add source to @Model.Currency.Name" ok-title="Create" v-on:ok="handleSourceAddOk">
    <b-form v-on:submit.stop.prevent="onSourceAddSubmit">
        <b-form-group label="Currency source">
            <b-form-select v-model="addSourceForm.currencySourceId" :options="addSourceForm.currencySourcesOptions"></b-form-select>
        </b-form-group>
    </b-form>
</b-modal>

<!-- DeleteModal -->
<b-modal ref="source-delete-modal" title="Confirm Delete" ok-title="Yes" ok-variant="danger" cancel-title="No" v-on:ok="handleSourceDeleteOk" centered>
    <p>Are you sure that you want to delete {{ deleteSourceModal.name }} source?</p>
</b-modal>

@section Scripts
{
    <script>
        const vm = new Vue({
            el: '#content',
            data: {
                sourceCurrentPage: 1,
                sourceDataRowsPerPage: 10,
                sourceDataFields: [
                    {
                        key: 'Name',
                        label: 'Name',
                        sortable: true
                    },
                    {
                        key: 'Abbreviation',
                        label: 'Abbreviation',
                        sortable: true
                    },
                    {
                        key: 'APIDocsURL',
                        label: 'API Docs URL',
                        sortable: true
                    },
                    {
                        key: 'isEnabled',
                        label: 'Is Enabled',
                        sortable: true
                    },
                    {
                        key: 'Edit',
                        label: '',
                        sortable: false
                    },
                    {
                        key: 'Delete',
                        label: '',
                        sortable: false
                    }
                ],
                currencySources:
                    @Html.Raw(JsonConvert.SerializeObject(@Model.Currency.CurrencySources, Formatting.Indented, new JsonSerializerSettings
                    {
                        ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    })),
                editCurrency: {
                    name: '@Model.Currency.Name',
                    abbreviation: '@Model.Currency.Abbreviation',
                    description: '@Model.Currency.Description',
                    denominationName: '@Model.Currency.DenominationName',
                    denominations: '@Model.Currency.Denominations',
                    isEnabled: @Model.Currency.IsEnabled.ToString().ToLower()
                },
                addSourceForm: {
                    currencySourcesOptions:
                        @Html.Raw(JsonConvert.SerializeObject(@Model.CurrencySourcesOptions, Formatting.Indented, new JsonSerializerSettings
                        {
                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                            ContractResolver = new CamelCasePropertyNamesContractResolver()
                        })),
                    currencySourceId: '',
                },
                editSourceForm: {
                    id: Number,
                    sourceName: '',
                    abbreviation: '',
                    apiDocsURL: '',
                    isEnabled: Boolean
                },
                deleteSourceModal: {
                    id: Number,
                    name: ''
                }
            },
            mounted() {
                this.convertCurrencySourcesOption();
            },
            methods: {
                convertCurrencySourcesOption() {
                    const currencySourcesArr = [];
                    for (let i = 0; i < this.addSourceForm.currencySourcesOptions.length; i++) {
                        const currencySource = {
                            value: this.addSourceForm.currencySourcesOptions[i].id,
                            text: this.addSourceForm.currencySourcesOptions[i].name
                        };
                        currencySourcesArr.push(currencySource);
                    }
                    this.addSourceForm.currencySourcesOptions = currencySourcesArr;
                },
                showSourceAddModal() {
                    this.$refs['source-add-modal'].show();
                },
                handleSourceAddOk(bvModalEvt) {
                    // Prevent modal from closing
                    bvModalEvt.preventDefault();
                    // Trigger submit handler
                    this.onSourceAddSubmit();
                },
                async onSourceAddSubmit() {
                    var formData = new FormData();
                    formData.append('CurrencyId', @Model.Currency.Id);
                    formData.append('SourceId', this.addSourceForm.id);

                    const response = await fetch('/Admin/Currency/CreateCurrencySource',
                        {
                            method: 'POST',
                            body: formData
                        });

                    if (response.status === 200) {
                        const data = await response.json();

                        // TODO: Refresh the UI when the source is added.
                        
                        // Put alert for now, change the ui later.
                        alert(data.message);
                    } else {
                        alert("Create failed");
                    }
                    // Hide the modal manually
                    this.$refs['create-modal'].hide();
                },
                // Methods for edit modal
                showSourceEditModal(id, sourceName, abbreviation, apiDocsURL, isEnabled) {
                    this.editSourceForm.id = id;
                    this.editSourceForm.sourceName = sourceName;
                    this.editSourceForm.abbreviation = abbreviation;
                    this.editSourceForm.apiDocsURL = apiDocsURL;
                    this.editSourceForm.isEnabled = isEnabled;

                    this.$refs['source-edit-modal'].show();
                },
                handleSourceEditOk(bvModalEvt) {
                    // Prevent modal from closing
                    bvModalEvt.preventDefault();
                    // Trigger submit handler
                    this.onEditSubmit();
                },
                async onSourceEditSubmit() {
                    var formData = new FormData();
                    formData.append('Id', this.editSourceForm.id);
                    formData.append('Name', this.editSourceForm.sourceName);
                    formData.append('Abbreviation', this.editSourceForm.abbreviation);
                    formData.append('ApiDocsURL', this.editSourceForm.apiDocsURL);
                    formData.append('IsEnabled', this.editSourceForm.isEnabled);

                    const response = await fetch(`/Admin/Source/EditSource/${this.editSourceForm.id}`,
                        {
                            method: 'PUT',
                            body: formData
                        });

                    if (response.status === 200) {
                        // Update the data table
                        this.currencySources.find((element, index) => {
                            if (element.Id === this.editSourceForm.id) {
                                this.currencySources[index].Name = this.editSourceForm.sourceName;
                                this.currencySources[index].Abbreviation = this.editSourceForm.abbreviation;
                                this.currencySources[index].ApiDocsURL = this.editSourceForm.apiDocsURL;
                                this.currencySources[index].IsEnabled = this.editSourceForm.isEnabled;
                            }
                        });

                        // Put alert for now, change the ui later.
                        alert("Successfully updated source");
                    } else {
                        alert("Update failed");
                    }

                    // Hide the modal manually
                    this.$refs['source-edit-modal'].hide();
                },
                // Methods for delete modal
                showSourceDeleteModal(id, sourceName) {
                    this.deleteSourceModal.id = id;
                    this.deleteSourceModal.name = sourceName;

                    this.$refs['source-delete-modal'].show();
                },
                async handleSourceDeleteOk(bvModalEvt) {
                    bvModalEvt.preventDefault();

                    const response = await fetch(`/Admin/Source/DeleteSource/${this.deleteModal.id}`,
                        {
                            method: 'DELETE'
                        });

                    if (response.status === 200) {
                        // Update the datatable
                        const index = this.currencySources.findIndex(element => element.Id === this.deleteModal.id);
                        this.currencySources.splice(index, 1);

                        alert(`Successfully deleted ${this.deleteModal.name}`);
                    } else {
                        alert("Delete failed");
                    }

                    this.$refs['source-delete-modal'].hide();
                }
            }
        });
    </script>
}